<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <title>Timups</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/responsive.css}" rel="stylesheet"/>

</head>

<body class="sub_page">

<div class="hero_area">

    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" th:href="@{/watch/index} " style="
    width: 100px;
    height: 38px;
    position: relative;
">
                    <img style="
                    margin-left: 24%;
    width: 127%;
    height: 167%;
    position: absolute;
    top: -20px;
" th:src="@{/images/watch-trangchu.jpg}" class="navbar-brand-img h-2 w-5" alt="main_logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/watch/index}">Trang chủ<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/watch/watches}">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                        </li>
                    </ul>
<!--                    <div class="user_option-box">-->
<!--                        <a href="">-->
<!--                            <i class="fa fa-user" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                        <a href="">-->
<!--                            <i class="fa fa-cart-plus" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                        <a href="">-->
<!--                            <i class="fa fa-search" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </nav>
        </div>
    </header>
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Đồng hồ
                                    </h1>
                                    <p>
                                        Chúng tôi cam kết mang lại những giá trị cao nhất, chế độ hậu mãi tốt nhất khi
                                        quý khách hàng tin dùng & mua sắm đồng hồ nam nữ chính hãng của thương hiệu
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Liên hệ
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img height="300px" th:src="@{/images/slider-img.png}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Đồng hồ
                                    </h1>
                                    <p>
                                        Chúng tôi cam kết mang lại những giá trị cao nhất, chế độ hậu mãi tốt nhất khi
                                        quý khách hàng tin dùng & mua sắm đồng hồ nam nữ chính hãng của thương hiệu </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img height="300px" th:src="@{/images/contact-img.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Đồng hồ
                                    </h1>
                                    <p>
                                        Chúng tôi cam kết mang lại những giá trị cao nhất, chế độ hậu mãi tốt nhất khi
                                        quý khách hàng tin dùng & mua sắm đồng hồ nam nữ chính hãng của thương hiệu </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img height="300px" th:src="@{/images/about-img.png}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>

    </section>
</div>

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container">
                        <h2 style="margin: 0 auto">
                            Đăng ký
                        </h2>

                        <p style="color: red ; margin: auto; padding: 10px" th:text="${message}"></p>
                    </div>
                    <form action="/register" method="post" th:object="${customerDto}">
                        <div>
                            <input th:field="*{name}" type="text" placeholder="Họ và tên *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div>
                            <input th:field="*{dayOfBirth}" type="date" placeholder="Ngày sinh *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('dayOfBirth')}" th:errors="*{dayOfBirth}"></p>
                        </div>
                        <div>
                            <input th:field="*{address}" type="text" placeholder="Địa chỉ *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                        </div>
                        <div>
                            <input th:field="*{email}" type="email" placeholder="Email *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div>
                            <input th:field="*{phone}" type="number" placeholder="Số điện thoại *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                        </div>
                        <div>
                            <select hidden="hidden" th:field="*{customerType}">
                                <option th:each="type: ${customerType}" th:text="${type.name}"
                                        th:value="${type.id}"></option>
                            </select>
                        </div>
                        <div>
                            <input th:field="*{appUser.userName}" type="text" placeholder="Tài khoản *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('appUser.userName')}" th:errors="*{appUser.userName}"></p>
                        </div>
                        <div>
                            <input id ="password" th:field="*{appUser.encrytedPassword}" type="password" placeholder="Mật khẩu *"/>
                            <p style="color: red" th:if="${#fields.hasErrors('appUser.encrytedPassword')}" th:errors="*{appUser.encrytedPassword}"></p>

                        </div>
                        <div>
                            <input  id ="confirmPassword" type="password" th:placeholder="${'Nhập lại mật khẩu *'}"/>
                        </div>
                        <p style="color: red" id="error-text"> </p>
<!--                        <div>-->
<!--                            <input th:field="*{appUser.enabled}" th:text="${enabled}" type="number" hidden="hidden">-->
<!--                        </div>-->
                        <!--            <div>-->
                        <!--              <input th:field="*{account.pass}" type="password" placeholder="Confirm password " />-->
                        <!--            </div>-->
                        <div class="d-flex ">
                            <button id="button" style="margin: 0 auto">
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                document.querySelector("#button").onclick = function () {
                    const password = document.querySelector("#password").value;
                    const confirmPassword = document.querySelector("#confirmPassword").value;
                    if (password != confirmPassword) {
                        // alert("Mật khẩu xác thực không khớp")
                        document.getElementById("error-text").innerText ="Mật khẩu xác thực không khớp, vui lòng nhập lại"
                        return false
                    }
                }
            </script>


            <div class="col-md-6">
                <div class="img-box">
                    <img th:src="@{/images/contact-img.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 footer-col">
                <div class="footer_detail">
                    <div class="heading_container">
                        <h2>
                            Về chúng tôi
                        </h2>
                    </div>
                    <p>
                        Được mệnh danh là thương hiệu đồng hồ “Ngon - Bổ - Rẻ”,
                        đồng hồ ShopWatch được rất nhiều tín đồ tại Việt Nam yêu thích và săn đón.
                        Nếu muốn một sở hữu một chiếc đồng hồ chất lượng, thiết kế đẹp, sang trọng,
                        bộ máy bền bỉ với các thông số đảm bảo máy chạy ổn định, chất liệu cao cấp thì Đồng
                        hồ  ShopWatch(team3) chính là lựa chọn sáng giá nhất trong tầm giá.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer-col">
                <div class="footer_contact">
                    <h4>
                        Liên hệ
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Location
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Call 0961053275
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  minhn091099@gmail.com
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer-col">
                <div class="footer_contact">
                    <h4>
                        Subscribe
                    </h4>
                    <form action="#">
                        <input type="text" placeholder="Enter email"/>
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer-col">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>ShopWatch by team3</a>
            </p>
        </div>
    </div>
</footer>
<!--<script>-->
<!--    setTimeout(function notice(){-->
<!--        alert("Đăng ký thành công");-->
<!--    },3000);-->

<!--</script>-->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<script th:src="@{/js/custom.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
</body>
</html>